<div>
    <pre><h2 id="section-title"> C R E A T E   Y O U R   F I T </h2></pre>
</div>
<div>
    <!-- _______________________________________________ Offers Product Slider _____________________________________________________ -->

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">T O P S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="slider">
            {{#each tops as |top|}}
            <div class="piece-card text-center" data-id="{{top.id}}">
                <h3>{{top.brand_name}}</h3>
                {{#if top.season}}
                <p>{{top.season}}</p>
                {{/if}}
                <p>${{top.retail_price}}</p>
                  <figure class="figure">
                    <img
                      src="{{top.image_url}}"
                      style="object-fit: cover; width: 50%;">
                  </figure>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">B O T T O M S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="slider">
            {{#each bottoms as |bottom|}}
            <div class="piece-card text-center" data-id="{{bottom.id}}">
                <h3>{{bottom.brand_name}}</h3>
                {{#if bottom.season}}
                <p>{{bottom.season}}</p>
                {{/if}}
                <p>${{bottom.retail_price}}</p>
                  <figure class="figure">
                    <img
                      src="{{bottom.image_url}}"
                      style="object-fit: cover; width: 50%;">
                  </figure>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">S H O E S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="slider">
            {{#each shoes as |shoe|}}
            <div class="piece-card text-center" data-id="{{shoe.id}}">
                <h3>{{shoe.brand_name}}</h3>
                <p>${{shoe.retail_price}}</p>
                  <figure class="figure">
                    <img
                      src="{{shoe.image_url}}"
                      style="object-fit: cover; width: 50%;">
                  </figure>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">O N E P I E C E S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="slider">
            {{#each onesies as |onesie|}}
            <div class="piece-card text-center" data-id="{{onesie.id}}">
                <h3>{{onesie.brand_name}}</h3>
                {{#if onesie.season}}
                <p>{{onesie.season}}</p>
                {{/if}}
                <p>${{onesie.retail_price}}</p>
                  <figure class="figure">
                    <img
                      src="{{onesie.image_url}}"
                      style="object-fit: cover; width: 50%;">
                  </figure>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container my-2 py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h3 class="section-title">A C C E S S O R I E S</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="slider">
            {{#each accessories as |acc|}}
            <div class="piece-card text-center" data-id="{{acc.id}}">
                <h3>{{acc.brand_name}}</h3>
                {{#if acc.season}}
                <p>{{acc.season}}</p>
                {{/if}}
                <p>${{acc.retail_price}}</p>
                  <figure class="figure">
                    <img
                      src="{{acc.image_url}}"
                      style="object-fit: cover; width: 50%;">
                  </figure>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- ___________ Outfit Name Input ______________ -->
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg"> F I T  N A M E </span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<!-- ___________ Slick Slider ______________ -->
<div class="text-center container-fluid">
    <div class="section-wrapper">
        <a href="fit.html"><button type="button" id="generate">
                <h3>G E N E R A T E</h3>
            </button></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</script>
