<div>
    <h2 id="section-title">T O P F I T S</h2>
    <div class="section-wrapper col-2"></div>
    <div class="container-fluid col-8" id="top-fits-card">
        {{#each outfits as |outfit|}}
        <a href="/fit/{{outfit.id}}">
            <div data-id="{{outfit.id}}">
                <h3 class="mx-auto">{{outfit.outfit_name}}</h3>
                <p class="mx-auto">by @{{user.name}}</p>
                <div class="image-wrapper">
                    <div class="container fit-container" id="your-fit">
                        {{#each outfit.products as |product|}}
                        <div class="card" id="category-id-{{product.category_id}}">
                            <img src="{{product.image_url}}" class="card-img object-fit-fill" alt="top-card-img">
                        </div>
                        {{/each}}
                    </div>
                </div>
                
            </div>
        </a>
        <div class="row">
            <button class="like-button" data-id="{{outfit.id}}"><i class="fa-regular fa-thumbs-up"><p>{{outfit.likes}}</p></i></button>
        </div>
        {{/each}}
    </div>
</div>
<script src="https://kit.fontawesome.com/c497264cf9.js" crossorigin="anonymous"></script>
<script src="js/like.js"></script>